Repository O2MC/moby-tracking-sdk, pull requests merged in 2018-07, with the labels that each got.

#43 handle http errors correctly by using NSURLSession. fixes #4
  ios/sdk/O2MC/Dispatcher.h
  ios/sdk/O2MC/Dispatcher.m
Labels: bug, enhancement, ios

#41 Minor code enhancements for iOS
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/Tagger.h
  ios/sdk/O2MC/Tagger.m
Labels: enhancement, ios

#47 Feat/ios unified logging
  README.md
  ios/app-obj-c/app-obj-c/ViewController.h
  ios/app-obj-c/app-obj-c/ViewController.m
  ios/sdk/O2MC/Dispatcher.h
  ios/sdk/O2MC/Dispatcher.m
  ios/sdk/O2MC/Tagger.h
  ios/sdk/O2MC/Tagger.m
Labels: enhancement, ios

#48 Refactor/docs enhancements
  LICENSE
  README.md
  android/README.md
  ios/README.md
Labels: enhancement, good first issue

#49 Refactor/ios file prefixes
  ios/app-obj-c/app-obj-c/ViewController.h
  ios/app-obj-c/app-obj-c/ViewController.m
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MC.h
  ios/sdk/O2MC/O2MC.m
  ios/sdk/O2MC/O2MDevice.h
  ios/sdk/O2MC/O2MDevice.m
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: enhancement, ios

#54 Feat/ios connection retries
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: enhancement, ios

#55 Fix: set deployment target to iOS 10.0
  ios/sdk/O2MC.xcodeproj/project.pbxproj
Labels: bug, ios

#60 Refactor/ios enhancements ng
  ios/app-obj-c/app-obj-c/Base.lproj/LaunchScreen.storyboard
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: enhancement, ios

#66 Created Swift example app
  ios/app-swift/.DS_Store
  ios/app-swift/app-swift.xcodeproj/project.pbxproj
  ios/app-swift/app-swift.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/app-swift/app-swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/app-swift/app-swift.xcodeproj/xcuserdata/juanjo.xcuserdatad/xcschemes/xcschememanagement.plist
  ios/app-swift/app-swift/.DS_Store
  ios/app-swift/app-swift/AppDelegate.swift
  ios/app-swift/app-swift/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/app-swift/app-swift/Assets.xcassets/Contents.json
  ios/app-swift/app-swift/Base.lproj/LaunchScreen.storyboard
  ios/app-swift/app-swift/Base.lproj/Main.storyboard
  ios/app-swift/app-swift/Info.plist
  ios/app-swift/app-swift/ViewController.swift
  ios/app-swift/app-swift/app-swift-Bridging-Header.h
  ios/app-swift/app-swiftTests/Info.plist
  ios/app-swift/app-swiftTests/app_swiftTests.swift
  ios/app-swift/app-swiftUITests/Info.plist
  ios/app-swift/app-swiftUITests/app_swiftUITests.swift
Labels: good first issue, ios

#71 Feat/ios stop
  ios/app-obj-c/app-obj-c.xcodeproj/xcuserdata/tim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
  ios/app-obj-c/app-obj-c/Base.lproj/Main.storyboard
  ios/app-obj-c/app-obj-c/ViewController.m
  ios/app-swift/app-swift/Base.lproj/Main.storyboard
  ios/app-swift/app-swift/ViewController.swift
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: ios

#75 Refactor/ios remove old tracking methods
  ios/app-obj-c/app-obj-c/Base.lproj/Main.storyboard
  ios/app-obj-c/app-obj-c/ViewController.m
  ios/app-swift/app-swift/Base.lproj/Main.storyboard
  ios/app-swift/app-swift/ViewController.swift
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: enhancement, ios

#77 Refactor/ios restructure
  ios/app-obj-c/app-obj-c/ViewController.h
  ios/app-obj-c/app-obj-c/ViewController.m
  ios/app-swift/app-swift/ViewController.swift
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MC.h
  ios/sdk/O2MC/O2MC.m
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
  ios/sdk/O2MC/O2MUtil.h
  ios/sdk/O2MC/O2MUtil.m
Labels: ios

#78 Refactor/android exception handling
  android/app/src/main/java/io/o2mc/app/App.java
  android/appkotlin/src/main/java/io/o2mc/appkotlin/App.kt
  android/sdk/src/main/java/io/o2mc/sdk/O2MC.java
  android/sdk/src/main/java/io/o2mc/sdk/TrackingManager.java
  android/sdk/src/main/java/io/o2mc/sdk/business/DeviceManager.java
  android/sdk/src/main/java/io/o2mc/sdk/business/batch/BatchBus.java
  android/sdk/src/main/java/io/o2mc/sdk/business/batch/BatchCallback.java
  android/sdk/src/main/java/io/o2mc/sdk/business/batch/BatchDispatcher.java
  android/sdk/src/main/java/io/o2mc/sdk/business/batch/BatchManager.java
  android/sdk/src/main/java/io/o2mc/sdk/business/event/EventManager.java
  android/sdk/src/main/java/io/o2mc/sdk/domain/Batch.kt
  android/sdk/src/main/java/io/o2mc/sdk/exceptions/O2MCDeviceException.java
  android/sdk/src/main/java/io/o2mc/sdk/exceptions/O2MCDispatchException.java
  android/sdk/src/main/java/io/o2mc/sdk/interfaces/O2MCCallback.java
  android/sdk/src/main/java/io/o2mc/sdk/interfaces/O2MCExceptionListener.java
  android/sdk/src/main/java/io/o2mc/sdk/util/LogUtil.java
Labels: android

#82 Refactor/ios code splitting
  .gitignore
  ios/app-swift/.DS_Store
  ios/app-swift/app-swift/.DS_Store
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MBatchManager.h
  ios/sdk/O2MC/O2MBatchManager.m
  ios/sdk/O2MC/O2MC.h
  ios/sdk/O2MC/O2MC.m
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MEvent.h
  ios/sdk/O2MC/O2MEvent.m
  ios/sdk/O2MC/O2MEventManager.h
  ios/sdk/O2MC/O2MEventManager.m
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: enhancement, ios

#84 Feat/ios batch stats
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MBatchManager.h
  ios/sdk/O2MC/O2MBatchManager.m
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MDispatcherDelegate.h
Labels: enhancement, ios

#85 Feat/ios remove device mapping
  ios/app-swift/app-swift/app-swift-Bridging-Header.h
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MDevice.h
  ios/sdk/O2MC/O2MDevice.m
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MUtil.h
  ios/sdk/O2MC/O2MUtil.m
Labels: enhancement, ios

#87 Feat/ios batches
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MBatch.h
  ios/sdk/O2MC/O2MBatch.m
  ios/sdk/O2MC/O2MBatchManager.h
  ios/sdk/O2MC/O2MBatchManager.m
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MEventManager.m
Labels: ios

#90 Feat/docs data specification
  README.md
  docs/DATA_SPECIFICATION.md
Labels: enhancement

#93 Feat/ios logging compatibility
  README.md
  ios/app-obj-c/app-obj-c.xcodeproj/project.pbxproj
  ios/app-obj-c/app-obj-c/Info.plist
  ios/app-swift/app-swift.xcodeproj/project.pbxproj
  ios/app-swift/app-swift/Info.plist
  ios/app-swift/app-swift/ViewController.swift
  ios/sdk/O2MC.xcodeproj/project.pbxproj
  ios/sdk/O2MC/O2MBatchManager.h
  ios/sdk/O2MC/O2MBatchManager.m
  ios/sdk/O2MC/O2MDispatcher.h
  ios/sdk/O2MC/O2MDispatcher.m
  ios/sdk/O2MC/O2MLogger.h
  ios/sdk/O2MC/O2MLogger.m
  ios/sdk/O2MC/O2MTagger.h
  ios/sdk/O2MC/O2MTagger.m
Labels: enhancement, ios
